{% block extra1 %}
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
{% endblock %}
{% extends "layout.html" %}

{% block body %}
<div class="profile-container">
  <div class="sidebar">
    <ul>
      <li class="active">Basic Info</li>
    </ul>
  </div>

  <div class="profile-content">
    <h2>Basic Info</h2>
    <table class="info-table">
      <tr><td>Name</td><td>{{ name }} {{sname}}</td><td><a href="#">Edit</a></td></tr>
      <tr><td>Email</td><td>{{ email }}</td><td><a href="#">Edit</a></td></tr>
      <tr><td>Phone_no.</td><td>{{ phone_num }}</td><td><a href="#">Edit</a></td></tr>
      <tr><td>Username</td><td>{{ username }}</td><td><a href="#">Edit</a></td></tr>
</table>
  </div>
</div>
{% endblock %}